<a href="https://colab.research.google.com/github/FFI-Vietnam/camtrap-tools/blob/main/Wildlife%20Insights/bulk-upload/02_clean-deployment-dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
"""
This script is used for cleaning the deployments spreadsheet 
After runnning this script, these new files are added to 'data cleaning' folder

data cleaning
    |__ 2.1_clean_deployment_drop-column.csv
    |__ 2.2_clean_deployment_dropna-column.csv
    |__ 2.3_clean_deployment_format-datetime.csv
    
"""

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
# mount with Google Drive to read and save file
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# specifies Colab directories and file names
root = '/content/drive/'

dataset_folder = 'My Drive/FFI/Wildlife Insights Bulk Upload Test/bulk-upload_template-autofill/dataset'
contain_folder = 'My Drive/FFI/Wildlife Insights Bulk Upload Test/bulk-upload_template-autofill/data cleaning'

deployment_dataset_file_name = 'Kon Plong 2019-20 camera trap deployment(2021-06-25).csv'
deployment_drop_column_file_name = "2.1_clean_deployment_drop-column.csv"
deployment_dropna_file_name = "2.2_clean_deployment_dropna.csv"
deployment_format_datetime_filename = "2.3_clean_deployment_format-datetime.csv"

In [4]:
# useful functions
def read_csv_Google_drive(root, contain_folder, file_name):
  file_path = os.path.join(root, contain_folder, file_name)
  return pd.read_csv(file_path)

def save_csv_Google_drive(df, root, contain_folder, file_name):
  """
  function to save a csv file to Google Drive
  param examples:
    root = '/content/drive/'
    contain_folder = 'My Drive/FFI/dataset'
    file_name = 'image_metadata(2020-06-26)_full.csv'
  """
  # save file to Colab runtime storage (will be deleted when this notebook is closed)
  df.to_csv('dataframe.csv', index=False)

  # save file back to Google Drive for permanent storage
  folder_path = os.path.join(root, contain_folder)
  file_path = os.path.join(root, contain_folder, file_name)
  try:
    os.makedirs(folder_path)
  except:
    pass

  with open('dataframe.csv', 'r') as f:
    df_file = f.read()

  with open(file_path, 'w') as f:
    f.write(df_file)

  print(f'File is saved to {file_name} in Google Drive at {file_path}')

In [8]:
# read full dataset
df = read_csv_Google_drive(root, dataset_folder, deployment_dataset_file_name)
df.head()

   Station   Camera  Deployment Phase  ... Unnamed: 40  Unnamed: 41  Unnamed: 42
0       59  68824.0                 1  ...         NaN          NaN          NaN
1       59  68704.0                 1  ...         NaN          NaN          NaN
2       60  68885.0                 1  ...         NaN          NaN          NaN
3       60  67170.0                 1  ...         NaN          NaN          NaN
4       61  68966.0                 1  ...         NaN          NaN          NaN

[5 rows x 43 columns]

In [14]:
# 2.1) keep important columns

df = read_csv_Google_drive(root, dataset_folder, deployment_dataset_file_name)
 
df = df[['Station', 
         'Camera', 
         'Deployment Phase', 
         'Longitude', 
         'Latitude', 
         'Date setup', 
         'Time setup', 
         'Date camera off',
         'Time camera off',
         'Camera still functioning at retrieval (Y/N)?'
        ]]

# save to Google Drive
save_csv_Google_drive(df, root, contain_folder, deployment_drop_column_file_name)

df.head()

File is saved to 2.1_clean_deployment_drop-column.csv in Google Drive at /content/drive/My Drive/FFI/Wildlife Insights Bulk Upload Test/bulk-upload_template-autofill/data cleaning/2.1_clean_deployment_drop-column.csv

   Station  ...  Camera still functioning at retrieval (Y/N)?
0       59  ...                                             N
1       59  ...                                             N
2       60  ...                                             N
3       60  ...                                             N
4       61  ...                                             N

[5 rows x 10 columns]

In [10]:
# 2.2) remove null rows
df = read_csv_Google_drive(root, contain_folder, deployment_drop_column_file_name)

df = df.dropna(how='all', subset=['Camera'])

# save to Google Drive
save_csv_Google_drive(df, root, contain_folder, deployment_dropna_file_name)

df.isnull().sum()

File is saved to 2.2_clean_deployment_dropna.csv in Google Drive at /content/drive/My Drive/FFI/Wildlife Insights Bulk Upload Test/bulk-upload_template-autofill/data cleaning/2.2_clean_deployment_dropna.csv

Station                                         0
Camera                                          0
Deployment Phase                                0
Longitude                                       0
Latitude                                        0
Date setup                                      0
Time setup                                      3
Last image date-time (from R script)            7
Date camera off                                 0
Time camera off                                 0
Camera still functioning at retrieval (Y/N)?    0
dtype: int64

In [17]:
# 2.3) format datetime
# datetime must be formatted into yyyy-mm-dd hh:mm:ss

def format_datetime_setup(date, time):
  """
  ex: 
    date = 24/04/2019
    time = 14:30
    --> return 2019-04-24 14:30:00 
  """
  DD, MM, YYYY = date.split('/')
  # in case no time, set default 12:00
  try:
    hh, mm = time.split(':')
  except:
    hh, mm = '12', '00'
  # pad leading 0
  MM, DD, hh, mm, ss = MM.zfill(2), DD.zfill(2), hh.zfill(2), mm.zfill(2), '00'
  return f'{YYYY}-{MM}-{DD} {hh}:{mm}:{ss}'
 

def format_datetime_retrieval(dt):
  """
  format datetime from MM/DD/YYYY hh:mm into YYYY-MM-DD hh:mm:ss
  """
  try:
    hh, mm = dt.split()[1].split(':')
  except:
    hh, mm = "12", "00"
  try:
    MM, DD, YYYY = dt.split()[0].split('/')
    # pad leading 0
    MM, DD, hh, mm, ss = MM.zfill(2), DD.zfill(2), hh.zfill(2), mm.zfill(2), '00'
    return f'{YYYY}-{MM}-{DD} {hh}:{mm}:{ss}'
  except:
    return 'error'


df = read_csv_Google_drive(root, contain_folder, deployment_dropna_file_name)

datetime_setup = []
datetime_retrieval = []
datetime_for_null_camera_off = []

for i in df.index:

  datetime_setup.append(format_datetime_setup(df.loc[i, 'Date setup'], 
                                              df.loc[i, 'Time setup']))
  
  datetime_retrieval.append(format_datetime_setup(df.loc[i, 'Date camera off'], 
                                                  df.loc[i, 'Time camera off']))

df['Datetime setup'] = datetime_setup
df['Datetime retrieval'] = datetime_retrieval

# save to Google Drive
save_csv_Google_drive(df, root, contain_folder, deployment_format_datetime_filename)
df

File is saved to 2.3_clean_deployment_format-datetime.csv in Google Drive at /content/drive/My Drive/FFI/Wildlife Insights Bulk Upload Test/bulk-upload_template-autofill/data cleaning/2.3_clean_deployment_format-datetime.csv

     Station   Camera  ...       Datetime setup   Datetime retrieval
0         59  68824.0  ...  2019-04-24 14:30:00  2019-08-04 13:10:00
1         59  68704.0  ...  2019-04-24 14:43:00  2019-08-05 18:44:00
2         60  68885.0  ...  2019-04-24 12:19:00  2019-07-31 22:11:00
3         60  67170.0  ...  2019-04-24 12:16:00  2019-06-13 07:00:00
4         61  68966.0  ...  2019-04-25 12:19:00  2019-08-08 07:43:00
..       ...      ...  ...                  ...                  ...
237      433  69002.0  ...  2019-10-21 12:11:00  2019-12-18 12:47:00
238      434  68962.0  ...  2019-10-21 10:03:00  2019-11-03 17:25:00
239      434  68988.0  ...  2019-10-21 10:15:00  2019-12-24 13:07:00
240      435  68998.0  ...  2019-10-21 13:09:00  2019-12-23 12:05:00
241      435  68959.0  ...  2019-10-21 13:19:00  2019-12-23 12:08:00

[242 rows x 13 columns]