<a href="https://colab.research.google.com/github/FFI-Vietnam/camtrap-tools/blob/main/Wildlife%20Insights/bulk-upload/04_collect-WI-taxon-database.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
"""
This script is used for cleaning the metadata spreadsheet generated by ExifTool
After runnning this script, 'data cleaning' folder is created

data cleaning
    |__ 4.1.  csv
    
"""

"\nThis script is used for cleaning the metadata spreadsheet generated by ExifTool\nAfter runnning this script, 'data cleaning' folder is created\n\ndata cleaning\n    |__ 4.1.  csv\n    \n"

In [3]:
import pandas as pd
import numpy as np
import os
import json
import requests

# mount with Google Drive to read and save file
from google.colab import drive
drive.mount('/content/drive')

# specifies Colab directories and file names
root = '/content/drive/'

dataset_folder = 'My Drive/FFI/Wildlife Insights Bulk Upload Test/bulk-upload_template-autofill/dataset'
contain_folder = 'My Drive/FFI/Wildlife Insights Bulk Upload Test/bulk-upload_template-autofill/data cleaning'

WIdatabase_file_name = "4.1_collect_WI-taxon-database.csv"

# useful functions
def read_csv_Google_drive(root, contain_folder, file_name):
  """
  function to read a csv file from Google Drive
  param examples:
    root = '/content/drive/'
    contain_folder = 'My Drive/FFI/dataset'
    file_name = 'image_metadata(2020-06-26)_full.csv'
  """
  file_path = os.path.join(root, contain_folder, file_name)
  return pd.read_csv(file_path)

def save_csv_Google_drive(df, root, contain_folder, file_name):
  """
  function to save a csv file to Google Drive
  param examples:
    root = '/content/drive/'
    contain_folder = 'My Drive/FFI/dataset'
    file_name = 'image_metadata(2020-06-26)_full.csv'
  """
  # save file to Colab runtime storage (will be deleted when this notebook is closed)
  df.to_csv('dataframe.csv', index=False)

  # save file back to Google Drive for permanent storage
  folder_path = os.path.join(root, contain_folder)
  file_path = os.path.join(root, contain_folder, file_name)
  try:
    os.makedirs(folder_path)
  except:
    pass

  with open('dataframe.csv', 'r') as f:
    df_file = f.read()

  with open(file_path, 'w') as f:
    f.write(df_file)

  print(f'File is saved to {file_name} in Google Drive at {file_path}')

Mounted at /content/drive

In [5]:
# 4.1) 

# download WI taxon id database
URL = "https://api.wildlifeinsights.org/api/v1/taxonomy?fields=class,order,family,genus,species,authority,taxonomyType,uniqueIdentifier,commonNameEnglish&page[size]=30000"
response = requests.get(URL)

# temporarily save the database to a json file
with open('taxonomy.json', 'w') as outfile:
    json.dump(response.json()["data"], outfile)

taxonomy_df = pd.read_json(r'taxonomy.json')

In [6]:
# find species who is not in WI taxon db

df = read_csv_Google_drive(root, contain_folder, "1.4_clean_metadata_remove-no-animal-image.csv")

# list of species
species_list = df['species_common_name'].unique()

unfound = []
for s in species_list:
  if (s not in taxonomy_df['commonNameEnglish'].to_list()):
    unfound.append(s)

print("There are",len(unfound),"unfound species")
unfound

There are 54 unfound species

['Yellow-breasted Magpie',
 'Emerald Dove',
 'Racket-tailed Treepie',
 'Ochraceous Bulbul',
 'Murid',
 'Ferret-badger',
 'Hill Blue Flycatcher',
 'Moth',
 'White-throated Fantail',
 'Asian Red-cheeked Squirrel',
 'Leopoldamys',
 'Asian Palm Civet',
 'Indochinese Wren-babbler',
 'Squirrel',
 'Banded Kingfisher',
 'Rhesus Macaque',
 'Wild Pig',
 'Crested Serpent Eagle',
 'Annamite Dark Muntjac',
 'Flying Insect',
 'Snake',
 'Black-throated Laughingthrush',
 'Asian Black Bear',
 'White-Crowned Forktail',
 'Macaque',
 'Animal',
 'Scaly Thrush',
 'Impressed Tortoise',
 'Maxomys',
 'Banded Krait',
 'Small Asian Mongoose',
 'Oriental Magpie Robin',
 'Muntjac',
 'Asian Water Monitor',
 'Japanese Robin',
 'Particolored Flying Squirrel',
 'Shrew',
 'Butterfly',
 'Brownish-flanked Bush Warbler',
 'White-tailed Robin',
 'Flying squirrel',
 'Streaked Wren Babbler',
 'Lesser Mouse-deer',
 'Domestic Buffalo',
 'Green magpie',
 'Pale-footed Bush Warbler',
 'Greater Racket-tailed Drongo',
 'Eastern Striped Squirrel',
 'Greater Racquet-tailed Drongo',
 'Puff-throated Bulbul',
 'Malayan Night Heron',
 "Natalia's Agama",
 'Snowy-browed Flycatcher',
 "Tickell's Blue Flycatcher"]

In [7]:
# (optional) create template match_unfound_species matching for the below cell
for i in unfound:
  print('{:60}'.format('match_unfound_species["'+i+'"]') + '= {"commonNameEnglish":""}')

match_unfound_species["Yellow-breasted Magpie"]             = {"commonNameEnglish":""}
match_unfound_species["Emerald Dove"]                       = {"commonNameEnglish":""}
match_unfound_species["Racket-tailed Treepie"]              = {"commonNameEnglish":""}
match_unfound_species["Ochraceous Bulbul"]                  = {"commonNameEnglish":""}
match_unfound_species["Murid"]                              = {"commonNameEnglish":""}
match_unfound_species["Ferret-badger"]                      = {"commonNameEnglish":""}
match_unfound_species["Hill Blue Flycatcher"]               = {"commonNameEnglish":""}
match_unfound_species["Moth"]                               = {"commonNameEnglish":""}
match_unfound_species["White-throated Fantail"]             = {"commonNameEnglish":""}
match_unfound_species["Asian Red-cheeked Squirrel"]         = {"commonNameEnglish":""}
match_unfound_species["Leopoldamys"]                        = {"commonNameEnglish":""}
match_unfound_species["Asian Palm Civet"]                   = {"commonNameEnglish":""}
match_unfound_species["Indochinese Wren-babbler"]           = {"commonNameEnglish":""}
match_unfound_species["Squirrel"]                           = {"commonNameEnglish":""}
match_unfound_species["Banded Kingfisher"]                  = {"commonNameEnglish":""}
match_unfound_species["Rhesus Macaque"]                     = {"commonNameEnglish":""}
match_unfound_species["Wild Pig"]                           = {"commonNameEnglish":""}
match_unfound_species["Crested Serpent Eagle"]              = {"commonNameEnglish":""}
match_unfound_species["Annamite Dark Muntjac"]              = {"commonNameEnglish":""}
match_unfound_species["Flying Insect"]                      = {"commonNameEnglish":""}
match_unfound_species["Snake"]                              = {"commonNameEnglish":""}
match_unfound_species["Black-throated Laughingthrush"]      = {"commonNameEnglish":""}
match_unfound_species["Asian Black Bear"]                   = {"commonNameEnglish":""}
match_unfound_species["White-Crowned Forktail"]             = {"commonNameEnglish":""}
match_unfound_species["Macaque"]                            = {"commonNameEnglish":""}
match_unfound_species["Animal"]                             = {"commonNameEnglish":""}
match_unfound_species["Scaly Thrush"]                       = {"commonNameEnglish":""}
match_unfound_species["Impressed Tortoise"]                 = {"commonNameEnglish":""}
match_unfound_species["Maxomys"]                            = {"commonNameEnglish":""}
match_unfound_species["Banded Krait"]                       = {"commonNameEnglish":""}
match_unfound_species["Small Asian Mongoose"]               = {"commonNameEnglish":""}
match_unfound_species["Oriental Magpie Robin"]              = {"commonNameEnglish":""}
match_unfound_species["Muntjac"]                            = {"commonNameEnglish":""}
match_unfound_species["Asian Water Monitor"]                = {"commonNameEnglish":""}
match_unfound_species["Japanese Robin"]                     = {"commonNameEnglish":""}
match_unfound_species["Particolored Flying Squirrel"]       = {"commonNameEnglish":""}
match_unfound_species["Shrew"]                              = {"commonNameEnglish":""}
match_unfound_species["Butterfly"]                          = {"commonNameEnglish":""}
match_unfound_species["Brownish-flanked Bush Warbler"]      = {"commonNameEnglish":""}
match_unfound_species["White-tailed Robin"]                 = {"commonNameEnglish":""}
match_unfound_species["Flying squirrel"]                    = {"commonNameEnglish":""}
match_unfound_species["Streaked Wren Babbler"]              = {"commonNameEnglish":""}
match_unfound_species["Lesser Mouse-deer"]                  = {"commonNameEnglish":""}
match_unfound_species["Domestic Buffalo"]                   = {"commonNameEnglish":""}
match_unfound_species["Green magpie"]                       = {"commonNameEnglish":""}
match_unfound_species["Pale-footed Bush Warbler"]           = {"commonNameEnglish":""}
match_unfound_species["Greater Racket-tailed Drongo"]       = {"commonNameEnglish":""}
match_unfound_species["Eastern Striped Squirrel"]           = {"commonNameEnglish":""}
match_unfound_species["Greater Racquet-tailed Drongo"]      = {"commonNameEnglish":""}
match_unfound_species["Puff-throated Bulbul"]               = {"commonNameEnglish":""}
match_unfound_species["Malayan Night Heron"]                = {"commonNameEnglish":""}
match_unfound_species["Natalia's Agama"]                    = {"commonNameEnglish":""}
match_unfound_species["Snowy-browed Flycatcher"]            = {"commonNameEnglish":""}
match_unfound_species["Tickell's Blue Flycatcher"]          = {"commonNameEnglish":""}

Use these query to find common species name

In [19]:
taxonomy_df[(taxonomy_df['commonNameEnglish'] == 'Insect') ]

            id    class  ... taxonomyType                      uniqueIdentifier
19924  2021552  Insecta  ...   biological  9fb844bd-26d1-49f1-a829-0025a48d3bdb

[1 rows x 10 columns]

In [23]:
taxonomy_df[(taxonomy_df['genus'] == 'Rimator') & (taxonomy_df['species'] == 'danjoui')]

            id class  ... taxonomyType                      uniqueIdentifier
10747  2014455  Aves  ...   biological  7054758f-7909-4467-995e-319c5e62ecbb

[1 rows x 10 columns]

In [26]:
taxonomy_df[taxonomy_df['species'] == 'impressa']

Empty DataFrame
Columns: [id, class, order, family, genus, species, authority, commonNameEnglish, taxonomyType, uniqueIdentifier]
Index: []

In [24]:
taxonomy_df[(taxonomy_df['genus'] == 'Pterorhinus')]

Empty DataFrame
Columns: [id, class, order, family, genus, species, authority, commonNameEnglish, taxonomyType, uniqueIdentifier]
Index: []

In [ ]:
taxonomy_df[(taxonomy_df['family'] == 'Viverridae')]

In [ ]:
taxonomy_df[(taxonomy_df['order'] == 'Carnivora')]

In [18]:
taxonomy_df[(taxonomy_df['class'] == 'Insecta')]

            id    class  ... taxonomyType                      uniqueIdentifier
4105   2021559  Insecta  ...   biological  4a7126ec-2b0b-426d-bafd-356219eb487a
19924  2021552  Insecta  ...   biological  9fb844bd-26d1-49f1-a829-0025a48d3bdb

[2 rows x 10 columns]

In [27]:
# match unfound species name with corresponding name in WI taxon id

match_unfound_species = {}
# match_unfound_species["Black-throated Laughingthrush"] = {"Taxonomy":"Pterorhinus chinensis"}
# match_unfound_species["Banded Krait"] = {"Taxonomy":"Bungarus fasciatus"}
# match_unfound_species["Impressed Tortoise"] = {"Taxonomy":"Manouria impressa"}
# match_unfound_species["Small Asian Mongoose"] = {"genus":"Urva", "species":"javanica"}
# match_unfound_species["Natalia's Agama"] = {"commonNameEnglish":""}

match_unfound_species["Indochinese Wren-babbler"]           = {"commonNameEnglish":"Short-tailed Scimitar Babbler"}
match_unfound_species["Hill Blue Flycatcher"]               = {"commonNameEnglish":"Hill Blue-Flycatcher"}
match_unfound_species["Flying Insect"]                      = {"commonNameEnglish":"Insect"}
match_unfound_species["Animal"]                             = {"commonNameEnglish":"Mammal"}
match_unfound_species["Streaked Wren Babbler"]              = {"commonNameEnglish":"Streaked Wren-babbler"}
match_unfound_species["Asian Water Monitor"]                = {"commonNameEnglish":"Common Water Monitor"}
match_unfound_species["Asian Red-cheeked Squirrel"]         = {"commonNameEnglish":"Red-cheeked Squirrel"}
match_unfound_species["Muntjac"]                            = {"commonNameEnglish":"Muntiacus Species"}
match_unfound_species["Asian Black Bear"]                   = {"commonNameEnglish":"Asiatic Black Bear"}
match_unfound_species["Ferret-badger"]                      = {"commonNameEnglish":"Melogale Species"}
match_unfound_species["Rhesus Macaque"]                     = {"commonNameEnglish":"Rhesus Monkey"}
match_unfound_species["Murid"]                              = {"commonNameEnglish":"Muridae Family"}
match_unfound_species["Maxomys"]                            = {"commonNameEnglish":"Muridae Family"}
match_unfound_species["Leopoldamys"]                        = {"commonNameEnglish":"Muridae Family"}
match_unfound_species["Wild Pig"]                           = {"commonNameEnglish":"Wild Boar"}
match_unfound_species["Crested Serpent Eagle"]              = {"commonNameEnglish":"Crested Serpent-Eagle"}
match_unfound_species["Yellow-breasted Magpie"]             = {"commonNameEnglish":"Indochinese Green Magpie"}
match_unfound_species["Macaque"]                            = {"commonNameEnglish":"Macaca Species"}
match_unfound_species["Snake"]                              = {"commonNameEnglish":"Lizards and Snakes"}
match_unfound_species["Annamite Dark Muntjac"]              = {"commonNameEnglish":"Annamite Muntjac"}
match_unfound_species["White-Crowned Forktail"]             = {"commonNameEnglish":"White-crowned Forktail"}
match_unfound_species["Particolored Flying Squirrel"]       = {"commonNameEnglish":"African Linsang"}
match_unfound_species["Oriental Magpie Robin"]              = {"commonNameEnglish":"Oriental Magpie-Robin"}
match_unfound_species["Squirrel"]                           = {"commonNameEnglish":"Sciuridae Family"}
match_unfound_species["Butterfly"]                          = {"commonNameEnglish":"Butterflies and Moths"}
match_unfound_species["Moth"]                               = {"commonNameEnglish":"Butterflies and Moths"}
match_unfound_species["Asian Palm Civet"]                   = {"commonNameEnglish":"Common Palm Civet"}
match_unfound_species["Shrew"]                              = {"commonNameEnglish":"Soricidae Family"}
match_unfound_species["Racket-tailed Treepie"]              = {"commonNameEnglish":"Racquet-tailed Treepie"}
match_unfound_species["Emerald Dove"]                       = {"commonNameEnglish":"Common Emerald Dove"}
match_unfound_species["Domestic Buffalo"]                   = {"commonNameEnglish":"Bubalus Species"}
match_unfound_species["Malayan Night Heron"]                = {"commonNameEnglish":"Malay Night-heron"}
match_unfound_species["Lesser Mouse-deer"]                  = {"commonNameEnglish":"Lesser Oriental Chevrotain"}
match_unfound_species["Eastern Striped Squirrel"]           = {"commonNameEnglish":"Maritime Striped Squirrel"}
match_unfound_species["Green magpie"]                       = {"commonNameEnglish":"Common Green Magpie"}
match_unfound_species["Flying squirrel"]                    = {"commonNameEnglish":"Sciuridae Family"}
match_unfound_species["White-tailed Robin"]                 = {"commonNameEnglish":"White-tailed Blue Robin"}
match_unfound_species["Tickell's Blue Flycatcher"]          = {"commonNameEnglish":"Tickell's Blue-Flycatcher"}
match_unfound_species["Pale-footed Bush Warbler"]           = {"commonNameEnglish":"Pale-footed Bush-warbler"}  
match_unfound_species["Banded Kingfisher"]                  = {"genus":"Lacedo",     "species":"pulchella"}
match_unfound_species["Japanese Robin"]                     = {"genus":"Larvivora",  "species":"akahige"}
match_unfound_species["Ochraceous Bulbul"]                  = {"genus":"Alophoixus", "species":"ochraceus"}
match_unfound_species["Scaly Thrush"]                       = {"genus":"Zoothera",   "species":"dauma"}
match_unfound_species["White-throated Fantail"]             = {"genus":"Rhipidura",  "species":"albicollis"}
match_unfound_species["Brownish-flanked Bush Warbler"]      = {"genus":"Horornis",   "species":"fortipes"}
match_unfound_species["Greater Racquet-tailed Drongo"]      = {"genus":"Dicrurus",   "species":"paradiseus"}
match_unfound_species["Greater Racket-tailed Drongo"]       = {"genus":"Dicrurus",   "species":"paradiseus"}
match_unfound_species["Snowy-browed Flycatcher"]            = {"genus":"Ficedula",   "species":"hyperythra"}
match_unfound_species["Puff-throated Bulbul"]               = {"genus":"Alophoixus", "species":"pallidus"}

In [28]:
# rename some species
match_unfound_species["Chinese Serow"] = {"commonNameEnglish":"Sumatran Serow"}

In [29]:
# match species name with corresponding name in WI taxon id

match_table = taxonomy_df[taxonomy_df['commonNameEnglish'] == ""]
FFI_species_name = []

species_list = df['species_common_name'].dropna().unique()
# add Blank as a species
species_list = np.append(species_list, 'Blank')

for s in species_list:
  if (s in match_unfound_species): 
    FFI_species_name.append(s)
    # if the species has commonNameEnglish
    if 'commonNameEnglish' in match_unfound_species[s]:
      if taxonomy_df[taxonomy_df['commonNameEnglish'] == match_unfound_species[s]['commonNameEnglish']].empty:
        print('Cannot find', s)
        continue
      match_table = match_table.append(taxonomy_df[taxonomy_df['commonNameEnglish'] == match_unfound_species[s]['commonNameEnglish']])
    # if the species has genus
    else:
      if taxonomy_df[(taxonomy_df['genus'] == match_unfound_species[s]['genus']) &
                      (taxonomy_df['species'] == match_unfound_species[s]['species'])].empty:
        print('Cannot find', s)
        continue
      match_table = match_table.append(taxonomy_df[(taxonomy_df['genus'] == \
                                                      match_unfound_species[s]['genus']) & \
                                                      (taxonomy_df['species'] == \
                                                      match_unfound_species[s]['species'])])

  else:
    if s in taxonomy_df['commonNameEnglish'].to_list():
      FFI_species_name.append(s)
      match_table = match_table.append(taxonomy_df[taxonomy_df['commonNameEnglish'] == s])
    else:
      print(f"{s} not found")

match_table['FFI_species_name'] = FFI_species_name

# save match_table to Google Drive
save_csv_Google_drive(match_table, root, contain_folder, WIdatabase_file_name)
match_table.sample(7)

Black-throated Laughingthrush not found
Impressed Tortoise not found
Banded Krait not found
Small Asian Mongoose not found
Natalia's Agama not found
File is saved to 4.1_collect_WI-taxon-database.csv in Google Drive at /content/drive/My Drive/FFI/Wildlife Insights Bulk Upload Test/bulk-upload_template-autofill/data cleaning/4.1_collect_WI-taxon-database.csv

            id  ...     FFI_species_name
19869  2021113  ...                 Bird
6432   2008529  ...     Oriental Bay Owl
6035   2008003  ...  Malayan Night Heron
21545  2021544  ...         Domestic Pig
3244   2004298  ...          Leopard Cat
20537  2020989  ...              Macaque
11197  2015063  ...    Chinese Blackbird

[7 rows x 11 columns]